
@*<div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-6">
                <p1>Titulo </p1>
                <p1>en</p1>
                <p1>Institucion</p1>

            </div>
            <div class="col-md-2">
                <btn>actualizar</btn>
            </div>
            <div class="col-md-2">
                <btn>eliminar</btn>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p1>Tiempo incio</p1>
            </div>
            <div class="col-md-2">
                <p1>tiempo fin </p1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p1>Pais</p1>
            </div>
            <div class="col-md-3">
                <p1>TipoEstudio </p1>
            </div>
        </div>
        <hr />
    }

</div>*@