

<div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-4">
                <p1>@conocimient</p1>
            </div>

            <div class="col-md-4">
                <btn class="alert-danger">X</btn>
            </div>

        </div>
        <hr />
    }
</div>

