

@*<div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-4">
                <p1>idioma</p1>

            </div>
            <div class="col-md-2">
                <btn>actualizar</btn>
            </div>
            <div class="col-md-2">
                <btn>eliminar</btn>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p1>escrito</p1>
            </div>
            <div class="col-md-2">
                <p1>oral</p1>
            </div>
        </div>
        <hr />
    }

</div>*@
