<form>
    <div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h6>REGISTRO DE DATOS</h6>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>NOMBRE</label>
                <input type="text" class="form-control" id="txtNombreCandidato" placeholder="Ingreses sus nombres">
            </div>
            <div class="col-md-6">
                <label>APELLIDOS</label>
                <input type="text" class="form-control" id="txtApellidoCandidato" placeholder="Ingreses sus apellidos">
            </div>
        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>FECHA DE NACIMIENTO</label>
                <input type="date" class="form-control" id="dateFechNacimCandidato">
            </div>
            <div class="col-md-6">
                <label>ESTADO CIVIL</label>
                <select class="form-control" id="optnEstCivil">
                    <option>Seleccionar</option>
                    <option>Soltero</option>
                    <option>Casado</option>
                    <option>Divorciado</option>
                    <option>Viudo</option>
                </select>
            </div>
        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <label>   </label>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label>Tipo de identificación</label>
                <input type="text" class="form-control" id="txtDocumento">
            </div>

            <div class="col-md-4">
                <label>Numero de documento</label>
                <input type="number" class="form-control" id="nbDocumento">
            </div>

            <div class="col-md-4">
                <label>Número de contacto</label>
                <input type="number" class="form-control" id="nbtelefono">
            </div>

        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <label>   </label>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label>Nacionalidad</label>
                <input type="text" class="form-control" id="txtpais">
            </div>

            <div class="col-md-4">
                <label>Género</label>
                <input type="text" class="form-control" id="txtgenero">
            </div>


        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <label>   </label>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label>Descripción breve de tu perfil profesional</label>

            </div>
            <div class="col-md-8">
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
        </div>
        
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <label>  </label>
        </div>

        <div class="row justify-content-center">
            <button id="crearCandidatoForm" type="button" class="btn btn-success btn-lg">CREAR</button>
        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <label>   </label>
        </div>

        <div class="row justify-content-center">
            <button id="CandidatoRegresar" type="button" class="btn btn-outline-primary btn-lg">VOLVER</button>
        </div>

    </div>
</form>