<form method="post" action="/Candidato/Grabar">
    <div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h6>REGISTRO DE DATOS</h6>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>NOMBRE</label>
                <input type="text" class="form-control" id="txtNombreCandidato" placeholder="Ingreses sus nombres">
            </div>
            <div class="col-md-6">
                <label>APELLIDOS</label>
                <input type="text" class="form-control" id="txtApellidoCandidato" placeholder="Ingreses sus apellidos">
            </div>
        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>FECHA DE NACIMIENTO</label>
                <input type="date" class="form-control" id="dateFechNacimCandidato">
            </div>
            <div class="col-md-6">
                <label>ESTADO CIVIL</label>
                <input type="text" class="form-control" id="txtEstadoCivil">
            </div>
        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <label>   </label>
        </div>

        <div class="row">


            @*<div class="col-md-4">
            <label>Numero de documento</label>
            <input type="number" class="form-control" id="nbDocumento">
        </div>*@

            <div class="col-md-4">
                <label>Número de contacto</label>
                <input type="text" class="form-control" id="nbtelefono">
            </div>
            <div class="col-md-4">
                <label>Contraseña</label>
                <input type="password" class="form-control" id="txtcontraseña" placeholder="Ingreses una nueva contraseña">
            </div>

        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <label>   </label>
        </div>

        <div class="row">
            @*<div class="col-md-4">
                    <label>Nacionalidad</label>
                    <input type="text" class="form-control" id="txtpais">
                </div>*@

            <div class="col-md-4">
                <label>Género</label>
                <input type="text" class="form-control" id="txtgenero">
            </div>


        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <label>   </label>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label>Descripción breve de tu perfil profesional</label>

            </div>
            <div class="col-md-8">
                <textarea id="txtdescrpCand" class="form-control" aria-label="With textarea"></textarea>
            </div>
        </div>

        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <label>  </label>
        </div>

        <div class="row justify-content-center">
            <button id="crearCandidatoForm" type="button" class="btn btn-success btn-lg">CREAR</button>
        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <label>   </label>
        </div>

        <div class="row justify-content-center">
            <button id="CandidatoRegresar" type="button" class="btn btn-outline-primary btn-lg">VOLVER</button>
        </div>

    </div>
</form>
    <input type="hidden" id="hidIDCandidato" value="-1" />
<script>


    $("#crearCandidatoForm").click(function () {
        let vIDCandidato = $("#hidIDCandidato").val();
        let vNombres = $("#txtNombreCandidato").val();
        let vApellidos = $("#txtApellidoCandidato").val();
        let vfechanacim = $("#dateFechNacimCandidato").val();
        
        let vEstadoCivil = $("#txtEstadoCivil").val();
        //FALTA AGREGAR NUMERO DE DNI EN LA BD
        //let vNumeroDoc = $("#nbDocumento").val();
        let vTelefono = $("#nbtelefono").val();

        //FALTA RELACIONAR EL PAIS COMO LLAVE FORANEA
        //let vPais = $("#txtpais").val();
        let vGenero = $("#txtgenero").val();
        let vDescripcion = $("#txtdescrpCand").val();
        let vContraseña = $("#txtcontraseña").val();
        
        
        $.ajax({
            type: "POST",
            url: "CREAR",
            cache: false,
            data: {
                id: vIDCandidato,
                nombre: vNombres,
                apellido: vApellidos,
                fechanac: vfechanacim,
                estadociv: vEstadoCivil,
                telef: vTelefono,
                genero: vGenero,
                descrp: vDescripcion,
                contra: vContraseña
                

            },
            success: function (exito) {
                if (exito) {
                    alert("Se registró correctamente....")
                    return RedirectToAction('PerfilCandidato', 'Candidato');
                   
                } else {
                    alert("Ocurrió un error en la transacción...")
                }
            }
        });

    });

</script>