<form>
    <div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h6>REGISTRO DE DATOS</h6>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>NOMBRE</label>
                <input type="text" class="form-control" id="txtNombreCandidato" placeholder="Ingreses sus nombres">
            </div>
            <div class="col-md-6">
                <label>APELLIDOS</label>
                <input type="text" class="form-control" id="txtApellidoCandidato" placeholder="Ingreses sus apellidos">
            </div>
        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>FECHA DE NACIMIENTO</label>
                <input type="date" class="form-control" id="dateFechNacimCandidato">
            </div>
            <div class="col-md-6">
                <label>ESTADO CIVIL</label>
                <select class="form-control" id="optnEstCivil">
                    <option>Seleccionar</option>
                    <option>Soltero</option>
                    <option>Casado</option>
                    <option>Divorciado</option>
                    <option>Viudo</option>
                </select>
            </div>
        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <label>   </label>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label>Tipo de identificación</label>
                <select class="form-control" id="optnIdentific">
                    <option>Seleccionar</option>
                    <option>DNI</option>
                    <option>Pasaporte</option>

                </select>
            </div>

            <div class="col-md-4">
                <label>Numero de documento</label>
                <input type="number" class="form-control" id="nbDocumento">
            </div>

            <div class="col-md-4">
                <label>Número de contacto</label>
                <input type="number" class="form-control" id="nbtelefono">
            </div>

        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <label>   </label>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label>Nacionalidad</label>
                <select class="form-control" id="optnNacionalidad">
                    <option>Seleccionar</option>
                    <option>Peru</option>
                    <option>Argentina</option>
                    <option>Brasil</option>
                    <option>Mexico</option>

                </select>
            </div>

            <div class="col-md-4">
                <label>Género</label>
                <select class="form-control" id="optnGenero">
                    <option>Seleccionar</option>
                    <option>Hombre</option>
                    <option>Mujer</option>

                </select>
            </div>


        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <label>   </label>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label>Descripción breve de tu perfil profesional</label>

            </div>
            <div class="col-md-8">
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="chbDispCandidato">
                    <label class="form-check-label">
                        Poseo disponibilidad para viajar
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <label>  </label>
        </div>

        <div class="row justify-content-center">
            <button type="button" class="btn btn-success btn-lg">CREAR</button>
        </div>
        <div class="row">
            <label>   </label>
        </div>
        <div class="row">
            <label>   </label>
        </div>

        <div class="row justify-content-center">
            <button type="button" class="btn btn-outline-primary btn-lg">VOLVER</button>
        </div>




    </div>
</form>