@model ProyectoFinal.Models.Idiomacandid

@{
    ViewData["Title"] = "NewIdioma";
}

<div class="row justify-content-center">
    <button type="button" class="btn btn-outline-primary" id="btnAddCandidato">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
    </button>

</div>

<button type="button" class="btn btn-outline-primary" id="btnUpdateCandidato">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
    </svg>
</button>

<button type="button" class="btn btn-outline-primary" id="btnRemoveCandidato">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
    </svg>
</button>

<div class="container" style="border:1px solid #1582d1">
    <div class="row justify-content-center">
        <div>
            <label>Mis datos</label>
        </div>
    </div>
    <div class="row justify-content-center">
        <img src="" class="img-thumbnail" alt="" width="55" height="55" />
    </div>

    <div class="row justify-content-center">
        <label id="lblNombreCandidato">Customer</label>
    </div>
    <br />
    <div class="row ">
        <div class="col-md-3">
            <label>Número de documento</label>

        </div>
        <div class="col-md-3">
            <label>Nacionalidad</label>

        </div>
        <div class="col-md-3">
            <label>Correo</label>

        </div>
        <div class="col-md-3">
            <label>Celular</label>

        </div>
    </div>


    <div class="row ">
        <div class="col-md-3">
            <p1>dni</p1>

        </div>
        <div class="col-md-3">
            <p1>nacionalidad?</p1>

        </div>
        <div class="col-md-3">
            <p1>Correo</p1>

        </div>
        <div class="col-md-3">
            <p1>telefono</p1>

        </div>
    </div>
</div>



<br />
<br />
@*EXPERIENCIA LABORAL*@
<div>
    <button type="button" class="btn btn-outline-primary" id="btnAddExpLab" data-toggle="modal" data-target="#ModalExpLab">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
    </button>
    <div class="modal fade" id="ModalExpLab" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre de Empresa</label>
                            <input type="text" class="form-control" id="txtNEmpresaExp" />
                        </div>
                        <div class="col-md-6">
                            <label>Giro de la empresa</label>
                            <input type="text" class="form-control" id="txtGiroEmprEx" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label>Cargo</label>
                            <input type="text" class="form-control" id="txtCargo" />
                        </div>
                        <div class="col-md-6">
                            <label>Area</label>
                            <input type="text" class="form-control" id="txtArea" />
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-4">
                            <label>Estado</label>
                        </div>
                        <div class="btn-group btn-group-toggle col-md-6" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option1" checked> Actualmente
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option2"> Concluido
                            </label>

                        </div>

                    </div>
                    <br />
                    <div class="row">

                        <div class="col-md-5">
                            <label>Periodo Inicio</label>
                            <input type="date" />
                        </div>

                        <div class="col-md-5">
                            <label>Periodo Fin</label>
                            <input type="date" />
                        </div>


                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <label>Descripción de la función</label>
                            <textarea class="container-fluid"></textarea>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="border:1px solid #1582d1">
    <div class="row justify-content-center">
        <p1>Experiencia laboral</p1>

    </div>
</div>
<br />
<br />

@*FORMACIÓN ACADEMICA*@
<div>
    <button type="button" class="btn btn-outline-primary" id="btnAddFormAcad" data-toggle="modal" data-target="#ModelFormacion">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
    </button>
    <div class="modal fade" id="ModelFormacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre de la Institución</label>
                            <input type="text" class="form-control" id="txtnombrecentroed" />
                        </div>
                        <div class="col-md-6">
                            <label>Tipo de estudio</label>
                            <input type="text" class="form-control" id="txttipoestudio" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <label>Estado</label>
                        </div>
                        <div class="btn-group btn-group-toggle col-md-6" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option1" checked> En curso
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option2"> Graduado
                            </label>

                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label>Titulo/Carrera</label>
                            <input type="text" class="form-control" id="txttitulocarrera" />
                        </div>
                        <div class="col-md-6">
                            <label>Area de estudio</label>
                            <input type="text" class="form-control" id="txtareaestudio" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label>Fecha Inicio</label>
                            <input type="date" class="form-control" id="datefechainicio" />
                        </div>
                        <div class="col-md-6">
                            <label>Fecha Fin</label>
                            <input type="date" class="form-control" id="datefechafin" />
                        </div>
                    </div>
                    <br />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="border:1px solid #1582d1">
    <div class="row justify-content-center">
        <p1>Formación académica</p1>
    </div>
</div>
<br />
<br />

@*IDIOMAS*@
<!--<div id="modalIdioma">
    <button type="button" class="btn btn-outline-primary" id="btnAddCandidatoExp" data-toggle="modal" data-target="#ModelIdioma">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
    </button>
    <div class="modal fade" id="ModelIdioma" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>IDIOMA</label>-->
                            @*<input type="text" class="form-control" id="txtidioma" />*@
                            <!--<select asp-for="IdiomaId" class="form-control" asp-items="ViewBag.IdiomaId"></select>
                        </div>
                        <div class="col-md-6">
                            <label>NIVEL ORAL</label>-->
                            @*<input type="text" class="form-control" id="txtniveloralidi" />*@
                            <!--<select asp-for="NiveloralidiId" class="form-control" asp-items="ViewBag.NiveloralidiId"></select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label>NIVEL ESCRITO</label>-->
                            @*<input type="text" class="form-control" id="txtnivescrid" />*@
                            <!--<select asp-for="NivescridId" class="form-control" asp-items="ViewBag.NivescridId"></select>
                        </div>

                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnGuardarIdioma" class="btn btn-primary">Guardar </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="containerIdioma" style="border:1px solid #1582d1">
    <div class="row justify-content-center">
        <p1>IDIOMAS</p1>
    </div>
    <div id="divIdioma">

    </div>

</div>-->

<br />
<br />
@*CONOCIMIENTOS Y HABILIDADES*@

<button type="button" class="btn btn-outline-primary" id="btnAddCandidatoExp" data-toggle="modal" data-target="#ModalConHab">
    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </svg>
</button>
<div class="modal fade" id="ModalConHab" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>INGRESE CONOCIMIENTO</label>
                        <input type="text" class="form-control" id="txthabconocimcand" />
                    </div>

                </div>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="container" style="border:1px solid #1582d1">
    <div class="row justify-content-center">
        <p1>Conocimientos y habilidades</p1>
    </div>
</div>


<input type="hidden" id="hidIDIdioma" value="-1" />
<script>


    $("#btnGuardarIdioma").click(function () {
        let vIDIdiomaC = $("#hidIDIdioma").val();
        let vIdioma = $("#IdiomaId").val();
        let vNivOral = $("#NiveloralidiId").val();
        let vNivEscr = $("#NivescridId").val();




        $.ajax({
            type: "POST",
            url: "Idiomacandid/NewIdioma",
            cache: false,
            data: {
                id: vIDIdiomaC,
                idioma: vIdioma,
                NivOral: vNivOral,
                NivEscr: vNivEscr



            },
            success: function (exito) {
                if (exito) {
                    alert("Se registró correctamente")


                } else {
                    alert("Ocurrió un error en la transacción")
                }
            }
        });

    });

</script>